<web-app>
	<servlet>
	    <servlet-name>LoginServlet</servlet-name>
	    <servlet-class>LoginServlet</servlet-class>
  	</servlet>
	<servlet>
	    <servlet-name>HomeServlet</servlet-name>
	    <servlet-class>HomeServlet</servlet-class>
  	</servlet>
  	<servlet>
	    <servlet-name>ProductsServlet</servlet-name>
	    <servlet-class>ProductsServlet</servlet-class>
  	</servlet>
  	<servlet>
	    <servlet-name>AboutUsServlet</servlet-name>
	    <servlet-class>AboutUsServlet</servlet-class>
  	</servlet>
  	<servlet>
	    <servlet-name>LogOutServlet</servlet-name>
	    <servlet-class>LogOutServlet</servlet-class>
  	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductsServlet</servlet-name>
		<url-pattern>/products</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AboutUsServlet</servlet-name>
		<url-pattern>/aboutus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	
</web-app>